<div class="bg-brand-primary py-2 px-3">
  <div class="row justify-content-between">

    <div class="col-md-auto py-2 header-title">
      <img src="/svg/logo.svg" alt="Logo" class="me-2">
      GetYourJSON
    </div>

    <nav class="col-md-auto header-nav">
      <ul ngbNav #nav="ngbNav">
        <li ngbNavItem>
          <button ngbNavLink routerLink="/">Home</button>
        </li>
        <li ngbNavItem>
          <button ngbNavLink  routerLink="/files">Files</button>
        </li>
      </ul>
    </nav>

  </div>
</div>
