<div class="card mx-4">
  <div class="card-body text-center pt-0">
    <img src="/svg/welcome.svg" alt="Welcome" />
    <div class="my-4">
      <h1 class="card-title">Welcome!</h1>
      <div class="card-text my-4">
        Upload JSON files in a quick and efficient way.
        <div class="text-primary">
          {{ filesCount() | i18nPlural:{'=0': 'No files were uploaded yet', '=1': '1 file uploaded already', 'other': '# files uploaded already'} }}
        </div>
      </div>
      <button class="btn btn-primary" (click)="uploadFile()">Upload file</button>
    </div>
  </div>
</div>

