
// The following import would be optimised in a real production case
@import "bootstrap/scss/bootstrap.scss"

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap')

// Global vars - Using CSS vars allows dynamic design changes
:root
  --brand-primary: #007bff

// General design
body
  font-family: "Inter", sans-serif

// Helper classes
.bg-brand-primary
  background-color: var(--brand-primary)
