name: Main CI
run-name: Pull request - ${{ github.actor }}
on:
  pull_request:
    branches: [main]

jobs:
  quality:
    name: Code quality
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node
        uses: actions/setup-node@v4
        with: { node-version: '22', cache: 'npm' }
      - name: Install dependencies
        run: npm ci
      - name: Prettier check
        run: npx prettier --check .
      - name: Linter check
        run: npx nx run-many --target=lint --all

  test:
    name: Tests
    runs-on: ubuntu-latest
    needs: [quality]
    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Install Node
        uses: actions/setup-node@v4
        with: { node-version: '22', cache: 'npm' }
      - name: Install dependencies
        run: npm ci
      - name: Run tests
        run: npx nx run-many --target=test --all --parallel --silent

  build:
    name: Building application
    runs-on: ubuntu-latest
    needs: [quality, test]
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
        with: { node-version: '22', cache: 'npm' }
      - run: npm ci
      - run: npx nx build json-manager --configuration=production
